<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>kickball_site</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
  <h1>List of Teams: </h1>
  <ul>
    <% @teams.each do |team| %>
      <li><a href="/teams/<%= team %>"><%= team %></a></li>
    <% end %>
  </ul>
  <script src="/javascripts/app.js"></script>
</body>
</html>
